include ../head.pug
body
  .container.mt-5
    h1 List
    table.table.table-responsive.table-hover.table-striped.table-dark
        thead
            tr
                th(scope="col") ID
                th(scope="col") Yacht Name
                th(scope="col") Insert Date
                th(scope="col") Location
                th(scope="col") Owner Contact Phone
                th(scope="col") # of people it accommodates/Seats
                th(scope="col") Actions 
        tbody
            tr
              td 1
              td Example Yach 1
              td 2024-02-17 10:00
              td SF
              td +1234567890
              td 42
              td
                button.btn.btn-primary.btn-sm edit
                button.btn.btn-danger.btn-sm delete
script.
  document.addEventListener('DOMContentLoaded', function() {
    axios.get('/api/yacht')
    .then(function(response) {
      const yachts = response.data;
      const tableBody = document.querySelector('table tbody');
      yachts.forEach(y => {
        const row = document.createElement('tr');
        const yacht = y.yacht
        row.innerHTML = `
          <td>${y.id}</td>
          <td>${yacht.yachtName}</td>
          <td>${yacht.yachtDateTime}</td>
          <td>${yacht.location}</td>
          <td>${yacht.ownerPhone}</td>
          <td>${yacht.accommodates}</td>
          <td>
            <button class="btn btn-primary btn-sm">edit</button>
            <button class="btn btn-danger btn-sm">delete</button>
          </td>
        `;
        tableBody.appendChild(row);
      });
    })
    .catch(function(error) {
      console.log(error);
    });
  });